{% extends "base.html" %} {% block content %}
<h1>Liste des Musiques</h1>
<ul>
    {% for musique in musiques %}
    <li>
        {{ musique.titre }} - {{ musique.artiste }} ({{ musique.duree }} {{ musique.style }} {{ musique.date_ajout }})
        {% if musique.fichier %}
            <audio controls>
                <source src="{{ musique.fichier.url }}" type="audio/mpeg">
                Votre navigateur ne supporte pas la lecture audio.
            </audio>
            <a href="{{ musique.fichier.url }}" download class="btn btn-sm btn-success ml-2">Télécharger</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}